<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="/static/vendor/jquery-ui-1.11.4/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendor/jquery.alt-checkbox.css">
    <link rel="stylesheet" href="/static/vendor/jquery.alt-checkbox.icon-font.css">
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
	<header>
		<h1>Alan Berman</h1>
	</header>
	<div id="menubar">
		<div id="center">
		<ul>
			<li><a href="/" class="active">Home</a></li>
			<li><a href="/about" class="active">About</a></li>
			<li><a href="/cv" class="active">Curriculum Vitae</a></li>
			<li><a href="/research" class="active">Research</a></li>
			<li><a href="/interests" class="active">Interests</a></li>
			<li><a href="/contact" class="active">Contact</a></li>
		</ul>
		</div>
	</div>
	
	<div id="content">
		<div id="section">
			<div id="sub-header">Contact</div>
				<img src="../static/mail.png">
				<div id="maillink"><a href="mailto:alan.berman.92@gmail.com">alan.berman.92@gmail.com</a></div>
				<div id="space"></div>
				<img src="../static/phone.png">
				<div id="no">084 797 9029</div>	
				<div id="space"></div>
				<img src="../static/github.png">
				<div id='github'><a href="https://github.com/alansberman">github.com/alansberman</div>
				<div id="space"></div>
				<img src="../static/linkedin.png">
				<div id='linkedin'><a href="https://www.linkedin.com/in/alan-berman-24a59aa6/">linkedin.com/in/alanberman</div>
				
		</div>
		
		
	</div>		
</body>
</html>
